<div class="container content">
  <!-- container centers content on large screens -->
  <div class="row">
    <!-- responsive row has 12 columns by default -->
    <div class="col-md-4">
      <!-- uses 6 columns on medium and larger screens... -->
      <strong>{{_manager.teamName}}</strong><br />
      {{_manager.WLT}}<br />
      <strong>Points For: </strong>{{_manager.ptsFor}}<br />
      <strong>Points Against: </strong>{{_manager.ptsAgainst}}<br />
      {{_manager.bio}}
    </div>
    <div class="col-md-4">
      <!-- uses 12 columns on smaller than medium screens -->
      <h3>Drafted: </h3>
      <br />
      <div *ngFor="let player of manager.draftedTeam.players" class="playerCard">
        <span class="{{player.team}}">{{player.name}} - ({{player.position}})</span>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Final Roster:</h3>
      <br />
      <div *ngFor="let player of manager.finalTeam.players" class="playerCard">
        <span class="{{player.team}}">{{player.name}} - ({{player.position}})</span>
      </div>
    </div>
  </div>
</div>