<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="https://football.fantasysports.yahoo.com/f1/387368" target="_blank">The Ed Hochuleague</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" href="https://github.com/joshodom/FantasyFootball2018" target="_blank">Github</a>
      <a class="nav-item nav-link" routerLink="idiots" routerLinkActive="active"><s>Idiots</s>Managers</a>
      <a class="nav-item nav-link" routerLink="rankings" routerLinkActive="active">Final Standings</a>
    </div>
  </div>
</nav>