<table class="gametable" id="standingstable">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>W-L-T</th>
      <th>Pct</th>
      <th>Pts For</th>
      <th>Pts Against</th>
      <th>Streak</th>
      <th>Waiver</th>
      <th>Moves</th>
    </tr>
  </thead>
  <tbody>
    <tr class="even">
      <td class="rank">1.</td>
      <td class="teamName">No One Fights Alone</td>
      <td>9-5-0</td>
      <td>.643</td>
      <td>1312.46</td>
      <td>1244.02</td>
      <td>L-1</td>
      <td>10</td>
      <td>71</td>
    </tr>
    <tr class="odd">
      <td class="rank">2.</td>
      <td class="teamName">
        It's over 9000!!!!
      </td>
      <td>9-5-0</td>
      <td>.643</td>
      <td>1353.98</td>
      <td>1265.12</td>
      <td>W-1</td>
      <td>12</td>
      <td>43</td>
    </tr>
    <tr class="even">
      <td class="rank">3.</td>
      <td class="teamName">
        MIZZOU
      </td>
      <td>8-6-0</td>
      <td>.571</td>
      <td>1307.30</td>
      <td>1256.18</td>
      <td>W-3</td>
      <td>7</td>
      <td>39</td>
    </tr>
    <tr class="odd">
      <td class="rank">4.</td>
      <td class="teamName">
        Just Saiyan...
      </td>
      <td>8-6-0</td>
      <td>.571</td>
      <td>1362.32</td>
      <td>1369.78</td>
      <td>L-3</td>
      <td>11</td>
      <td>39</td>
    </tr>
    <tr class="even">
      <td class="rank">5.</td>
      <td class="teamName">
        Smallville High
      </td>
      <td>7-7-0</td>
      <td>.500</td>
      <td>1221.90</td>
      <td>1148.06</td>
      <td>L-1</td>
      <td>8</td>
      <td>20</td>
    </tr>
    <tr class="odd">
      <td class="rank">6.</td>
      <td class="teamName">
        Dank Memes
      </td>
      <td>8-6-0</td>
      <td>.571</td>
      <td>1224.38</td>
      <td>1283.82</td>
      <td>W-1</td>
      <td>4</td>
      <td>17</td>
    </tr>
    <tr class="even">
      <td class="rank">7.</td>
      <td class="teamName">
        The Airplanes
      </td>
      <td>8-6-0</td>
      <td>.571</td>
      <td>1251.30</td>
      <td>1249.08</td>
      <td>L-1</td>
      <td>9</td>
      <td>36</td>
    </tr>
    <tr class="odd">
      <td class="rank">8.</td>
      <td class="teamName">
        Just End The Season
      </td>
      <td>7-7-0</td>
      <td>.500</td>
      <td>1276.04</td>
      <td>1237.66</td>
      <td>L-2</td>
      <td>5</td>
      <td>46</td>
    </tr>
    <tr class="even">
      <td class="rank">9.</td>
      <td class="teamName">
        PutSomeMustardOnIt
      </td>
      <td>6-8-0</td>
      <td>.429</td>
      <td>1367.28</td>
      <td>1280.24</td>
      <td>W-3</td>
      <td>3</td>
      <td>18</td>
    </tr>
    <tr class="odd">
      <td class="rank">10.</td>
      <td class="teamName">
        Los Pollos Hermanos
      </td>
      <td>6-8-0</td>
      <td>.429</td>
      <td>1270.72</td>
      <td>1329.10</td>
      <td>W-1</td>
      <td>2</td>
      <td>18</td>
    </tr>
    <tr class="even">
      <td class="rank">11.</td>
      <td class="teamName">
        The PoopDicks
      </td>
      <td>4-10-0</td>
      <td>.286</td>
      <td>1277.94</td>
      <td>1407.20</td>
      <td>W-2</td>
      <td>6</td>
      <td>63</td>
    </tr>
    <tr class="selected odd">
      <td class="rank">12.</td>
      <td class="teamName">
        It's Over 9000 Bobby
      </td>
      <td>4-10-0</td>
      <td>.286</td>
      <td>1151.42</td>
      <td>1306.78</td>
      <td>L-3</td>
      <td>1</td>
      <td>10</td>
    </tr>
  </tbody>
</table>